#login { 
  position:absolute;
	top:15px;
	right:10px;
}

.yellowbutton{
  background: #f4c038;
  padding: 8px 20px 8px 20px;
  border-radius:28px;
  font-family: LangQian;
  color: #564940;
  font-size: 16px;
  text-decoration: none;
}

.yellowbutton:hover{
  background: #f4e0ac;
  text-decoration: none;
}



/** dropdown menu **/

 #login-content {
  display:none; 
  float: right;
  background: #ffffff;
  border-bottom: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 999;    
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  font-size:12px;
  
}

/** input fields **/

fieldset{
	border-radius:5px;
	border:1px solid #564940;
}


#inputs #username{
	margin-top:5px;
}

input{
  background: #fff;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 200px;
  border: 1px solid #f4c038;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

input:focus{
  border: 1px solid #f4c038;
  outline:none;
}

/** submit **/

#login #submit, #login #register {    
  background-color: #f4c038;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  height: 30px;
  padding: 0;
  width: 75px;
  font-size:14px;
  color: #fff;
  text-align:center;
}

#login #send{
	background-color: #f4c038;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  height: 30px;
  padding: 0;
  width: 100px;
  font-size:14px;
  color: #fff;
  text-align:center;
  margin-bottom:5px;
}

#login #submit{
  margin-right:10px;
}

#login #submit:hover,
#login #submit:focus,
#login #register:hover,
#login #register:focus {    
  background-color: #ff8400;
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#email{
   margin-top:5px;
}

#forgot{
  font-size:12px;
  text-decoration:none;
  color:#564940;
  text-align:center;
}

#forgot:hover{
	color:#f4c038;
	text-decoration:none;
}

#forgot:visited{
	text-decoration:none;
}

#forgot_password{
	margin-top:10px;
}

#forgot-content{
	display:none;
}

#logged_in{
	position:absolute;
	text-align:right;
	right: 10px;
	top: 15px;
	width: 400px;
}

#error{
	color:red;
}
